.menu-item {
    /* min-width: 30%; */
    width: 200px;
    height: 500px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    overflow: hidden;
    position: relative;
}
    .menu-item:hover {
      cursor: pointer;
    }
       .menu-item.background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      } 
     
      .menu-item  .content {
        opacity: 0.9;
      }
    
    

      .menu-item .large{
      height: 380px;
    }
  
    .menu-item :first-child {
      margin-right: 7.5px;
    }
  
    .menu-item :last-child {
      margin-left: 7.5px;
    }

    .background-image{
      height: 100%;
      width: 100%;
      background-position: center;
      background-size: cover;
    }
  
    .content {
      height: 40px;
      bottom: 0;
      /* padding: 0 25px; */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
      /* border: 1px solid black; */
      /* background-color: white; */
      opacity: 0.2;
      width: 100%;
      border: none;
      position: absolute;
    }
     
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        color:white
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
        /* color: red; */
      }
    
      .buy{
        position: absolute;
      }



      