/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 56px;
  font-family: "Euclid Circular A";
  background: #3f2d96;
  color: #f9f9f9;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  color: #f9f9f9;
  background: #6245e7;
}

nav span {
  color: #f9f9f9;
  font-size: 22px;
}

nav div {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

section {
  display: flex;
  background: #2b2a31;
  padding: 20px 0;
}

header {
  display: flex;
  align-items: center;
  height: 120px;
  margin: 0;
  padding: 0 20px;
  background: #3f2d96;
  font-weight: 400;
  color: #f9f9f9;
}

.filters {
  position: sticky;
  z-index: 1;
  top: 76px;
  width: 160px;
  height: 100%;
  padding: 0 20px;
}

.filters h2 {
  color: #7d7a7a;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px;
}

.filters label {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 26px;
  font-size: 14px;
}

.filters input {
  margin: 0;
  accent-color: #6245e7;
}

.grid {
  flex: 1 1 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 15vmax;
  padding-right: 20px;
}

.grid-item {
  padding: 20px;
  background: #3d3c46;
}
