* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 56px;
  font-family: "Euclid Circular A";
  /* background: #3f2d96; */
  background: #2b2a31;
  color: #f9f9f9;
  height: 100vh;
}

nav {
  position: fixed;  
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: #f9f9f9;
  /* background: #6245e7; */
}
.main{
  margin-top:30px;
  /* height:100px; */
}

nav span {
  color: #f9f9f9;
  font-size: 22px;
}

nav div {
  display: flex;
  gap: 8px;
  margin-left: auto;
  padding-right: 5px;
}

section {
  /* padding-top: 20px; */
  margin-top: 10px;
  display: flex;
  background: #2b2a31;
  padding: 20px 0;
}

header {
  display: flex;
  align-items: center;
  /* height: 320px; */
  margin: 0;
  padding: 0 20px;
  /* background: #3f2d96; */
  font-weight: 400;
  color: #f9f9f9;
}

.filters {
  position: sticky;
  z-index: 1;
  top: 76px;
  width: 160px;
  height: 100%;
  padding: 0 20px;
  margin-top: 30px;
}

.filters h2 {
  color: #7d7a7a;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px;
}

.filters label {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 26px;
  font-size: 14px;
}

.filters input {
  margin: 0;
  accent-color: #6245e7;
}

.grid {
  flex: 1 1 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20vmax;
  grid-template-rows: 30vmax;
  padding-right: 20px;
  padding-top: 30px;
}

.grid-item {
  padding: 2px;
  background: #3d3c46;
}

.img{
  
  height: 100%;
  width:100%;
}

.skeleton{
  height: 325px;
  width: 253px;
}

.jj{
  width: 100%;
}

.out{
  position: relative;
  bottom:  30px;
  padding: 0;
  margin: 0;
  width: 0;
  left: 20px;
  /* z-index: 100; */
}

.footer{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  padding-top:10px;
}

.footer div{
  display: flex;
  flex-direction: column;
  align-content: space-between;

}

.footer :nth-child(2){
  padding-top:8px ;
}



li{
  list-style: none;
}

.skeleton{
  position: relative;
}
.icon{
  position: absolute;
  top: 20px;
  right:0;
  display: flex;
  flex-direction: column;
  align-items:space-around;

}
.titlel{
  margin-bottom: 0;
  height: 12px;
}
.titlel h1{
  margin-bottom: o;
}
